/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot='true'] {
  height: inherit;
}
@import url('https://fonts.googleapis.com/css?family=Cairo|Montserrat+Alternates');

body {
  /* font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande',
    'Bitstream Vera Sans', 'Helvetica Neue', sans-serif; */
  font-family: 'Montserrat Alternates', sans-serif;
  font-display: swap;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

/* Title - Name */
h1 {
  font-size: 42px;
  max-width: 400px;
  margin: 0 auto 20px;
}

/* General text */
p {
  font-size: 1.2rem;
  font-family: 'Cairo', sans-serif;
  font-display: swap;
  max-width: 700px;
  margin: 10px auto;
}

/* Links within general text */
.headerLink {
  font-size: 1.2rem !important;
}

/* Social link icon wrapper */
.socialLink {
  margin: 20px;
}

/* All child social links */
.socialLink > * {
  margin: 15px;
}

/* Navigation links within site */
.navLink {
  line-height: 50px;
}

/* link hover transition activity */
a,
i {
  color: #293c4b;
  font-weight: 400;
  text-decoration: none;

  /*for fade effect on hover*/
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* Specify links */
a:link {
  font-size: 1.5rem;
  color: #293c4b;
}

/* Specify visited links */
a:visited {
  color: #293c4b;
}

/* Specify hovered links */
a:hover {
  color: #576ce0;
  transition: 0.15s;
}

/* Specify active links */
a:active {
  color: #0076d1;
}

/* Enlarge social icons */
i {
  padding: 5px;
}

/* Specify social icon hover color */
.fa-linkedin-in:hover {
  color: #0976b4;
}
.fa-twitter:hover {
  color: #55acee;
}
.fa-envelope:hover {
  color: #d44638;
}
.fa-dev:hover {
  color: #7a52ff;
}
.fa-medium-m:hover {
  color: #00ab6c;
}
.fa-github:hover {
  color: #ad5c51;
}

/* Headshot image */
.headshot {
  margin: 70px 0 20px 0;
  max-width: 200px;
  border-radius: 50%;
  border: 2px solid #ad8cff;
  vertical-align: middle;
  /* #FF6AD5 #AD8CFF #8795E8 #94D0FF #8B87E8*/
}

/* Navigation and header bar on left */
.sideBar {
  height: 100vh;
  /* position: absolute; */
  background-color: #fff;
  /* border-right: 1px #e4d9ff solid; */
  margin: 0 10px;
}
